<div class="col-lg-{{ item.size|default('2') }}">
    <!-- small box -->
    <div class="small-box bg-{{ item.css_class|default('aqua') }}">
        <div class="inner">
            <h3>{{ item.count }}</h3>
            <p>{{ item.label|default('items')|trans }}</p>
        </div>
        <div class="icon">
            <i class="fa fa-{{ item.icon|default('bars') }}"></i>
        </div>
        <a href="{{ path('easyadmin', { entity: item.entity, action: 'list' }) }}" class="small-box-footer">{{ item.link_label|default('Show list')|trans }} <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>