{% extends layout_template_path %}

{% block content_title %}
    {% spaceless %}
        {{ dashboard.title|default('Welcome')|trans }}
    {% endspaceless %}
{% endblock %}
{% block main %}
    {% if dashboard.blocks|length > 0 %}
        {% for block in dashboard.blocks %}
			<div class="mt-4 col-{{ block.size|default('12') }} border-bottom border-light">
			  <h3 class="text-{{ block.css_class|default('secondary') }}">
				{{ block.label }}
			  </h3>
			  <div class="card-body">
					{% for entity, item in block.items %}
						{{ include('@EasyAdminDashboard/Default/_item.html.twig', { item: item, entity: entity}) }}
					{%  endfor %}
			  </div>
			</div>
        {% endfor %}
    {% endif %}
{% endblock %}